:root {
  /* prevent zooming while tapping fast on iOS */
  touch-action: pan-x pan-y;
  --default-min-font-size-px: 12px;
  --default-min-font-size: 12;
  --default-max-font-size-px: 18px;
  --default-max-font-size: 18;
}

html, body {
  /* prevent pull-to-refresh */
  overscroll-behavior: none;
  overflow: hidden;
}

html {
  /* see: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/#comment-1769978 - comment by MaxDesign */
  font-size:calc(var(--default-min-font-size-px) + (var(--default-max-font-size) - var(--default-min-font-size)) * ((100vw - 360px) / 1560));
  font-size: clamp(var(--default-min-font-size-px), calc(var(--default-min-font-size-px) + (var(--default-max-font-size) - var(--default-min-font-size)) * ((100vw - 360px) / 1560)), var(--default-max-font-size-px));
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  background-color: #555;
  margin: 6vmin;
  padding: 0;
  height: calc(100svh - 12vmin);
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.25em;
  overflow: hidden;
  font-size: 0.75em;
}

a {
  color: #fff;
  cursor: pointer;
  overflow-wrap: anywhere;
}

/* these items don't use body font if not explicit inherit */
input, select, textarea, button {
  font-family: inherit;
}

ul {
  padding-inline-start: 2em;
}

.manual-icon-lu {
  padding-inline-start: 1em;
}

.manual-keys-ul {
  list-style-type: none;
  padding-inline-start: 1em;
}

li {
  margin-bottom: 1vmin;
}

.manual-icon-li {
  margin-bottom: 1vmin;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5em auto;
  column-gap: 0.5em;
  line-height: 1.25em;
  padding-bottom: 0.25em;
}

img {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

img.icon {
  width: 65%;
  margin: auto;
  display: block;
}

button {
  font-size: inherit;
  color: #fff;
  background-color: #555;
  cursor: pointer;
  margin: 0.5vmin;
  padding: 0px;
  height: 5.3vmin;
  width: 4.4vmin;
  border: 2px solid #fff;
  border-radius: 50%;
}

button:focus {
  outline: 0;
}

button.big {
  height: 2em;
  max-height: 40px;
  width: 2em;
  max-width: 40px;
  font-size: 2em;
}

.key_button {
  display: inline-block;
  font-size: 0.8em;
  line-height: 0.8em;
  border: 1px solid #fff;
  border-radius: 0.4em;
  text-align: center;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
}

.coursorpointer {
  cursor: pointer !important;
}

.big6 {
  display: flex;
  column-gap: 1.5em;
  align-items: flex-end;
  justify-self: center;
  justify-content: center;
}

#manual {
  visibility: hidden;
}

#manual.show {
  visibility: visible;
}

#settings {
  visibility: hidden;
}

#settings.show {
  visibility: visible;
}

/* The actual popup (appears on top) */
.popuptext {
  width: calc(100vw - 12vmin);
  height: calc(100vh - 12vmin);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 6vmin;
  overflow-y: scroll;
  text-align: left;
  vertical-align: top;
  line-height: normal;
  font-weight: normal;
  background-color: #555;
  border: 0;
}

#settings p {
  display: flex;
  column-gap: 0.33em;
  align-items: center;
}

#settings p:has(input) {
  margin-block-end: 0.25em;
}

#settings p.hint {
  font-size: .8em;
  font-style: italic;
  padding-left: 0.75em;
  margin-block-start: .25em;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.checkbox-container-small {
  gap: 0px;
  justify-items: center;
  width: fit-content;
  justify-self: center;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.checkbox-container-small > input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:checked {
  background-color: #fff;
}

#settings input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
}

.column {
  display: grid;
  gap: 10px;
  justify-items: center;
  align-self: center;
}

#textausgabe {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  font-size: 1.125em;
  cursor: pointer;
  overflow-y: auto;
}

#textausgabe > div {
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.space {
  white-space: pre;
}

.selected-character {
  background-color: #888;
}

#popup > p {
  line-height: 1.25em;
}

.braille-symbol {
  font-size: 1.5em;
  vertical-align: sub;
}

.braille-symbol-gross {
  font-size: 3em;
  line-height: 0;
  justify-self: center;
  align-self: center;
}

.braille-symbol-klein {
  justify-self: center;
  align-self: center;
}

.manual-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  height: 1em;
  max-height: 40px;
  width: 1em;
  max-width: 40px;
  margin-right: .25em;
  border: 1px solid white;
  padding: 3px;
  border-radius: 50%;
  background-color: #555;
}

.manual-icon-img {
  width: 80%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* das ist ca. der Moment, wo dann der Text hochkant mehr Inhalt fasst */
@media (orientation: landscape) and (min-aspect-ratio: 1.35) {
  main {
    flex-direction: row;
  }
  .menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  .big6 {
    column-gap: 0.75em;
    align-self: flex-end;
  }
}

/* iPhone 13 mini z.B. ohne Adressleiste */
@media (max-aspect-ratio: 0.5) {
  .big6 {
    /* damit man nicht ständig über den Strich nach unten wischt
    und damit den Webview halb nach unten schiebt */
    margin-bottom: 2em;
  }
}
