body {
  font: 75% Verdana, Helvetica, sans-serif;
  color: #000;
  background-color: #fff;
  background-attachment: fixed;
  margin: auto;
  padding: 0;
  width: 480px;
  transform-origin: top center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/*transform: scale(2.8); */
ul {
  margin: 10px 0 10px 0;
  padding-left: 30px;
}

li {
  margin-bottom: 10px
}

table {
  font-size: 1em;
  color: #000;
}

td {
  text-align: left;
}

img.icon {
   width: 20px;
   height: 40px;
}

img.bigpoint {
   width: 39px;
   height: 39px;
}

img.braille64icon {
   width: 10px;
   height: 20px;
}

img.braille64iconhalf {
   width: 5px;
   height: 20px;
}

textarea,
input.text,
input[type="text"],
input[type="reset"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

button {
  font-size: 1em;
  color: #333;
  background-color: #eee;
  cursor: pointer;
  margin: 3px;
  padding: 0px;
  height: 22px;
  width: 18px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

button:focus {
  outline:0;
}

button.big {
  height: 44px;
  width: 36px;
}

/* button is just placeholder */
button.dummy {
  background-color: #fff;
  border-color: #fff;
}

.brailleline table {
  border-spacing: 2px;
}

.brailleline td, th {
  padding: 0px;
}

.big6 table {
  border-spacing: 20px;
}

.big6 td, th {
  padding: 0px;
}

.braille64buttons table {
  border-spacing: 0px;
}

.braille64buttons td, th {
  padding: 0px;
}

.zelle {
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
}

.coursorpointer {
  cursor: pointer !important;
}

.nocoursorpointer {
  cursor: default;
}

.output {
  width: 28px;
  font-size: 1.4em;
  color: black;
  cursor: default;
  border: 0;
  text-align: center;
  padding: 0px
}

.bgwhite {
  background-color: #fff;
}

/* currently not activated */
/* .long {
  margin-top: 2px;
  padding-left: 5px;
  border: 1px solid #ccc;
  text-align: left !important;
  height: 25px;
  width: 100%
} */

.big6 {
  margin-top: 0.75rem
}

.zelle_big {
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  width: 84px;
}

.braille64 {
  display: none
}

.textcenter {
  text-align: center;
}

.bottom {
  vertical-align: bottom;
}

.spacekey button {
  width: 4rem;
}

.middle {
  vertical-align: middle;
}
/* Popup container */
.umschalter {
  font-size: 1.5rem;
  color: grey;
  position: absolute;
  top: 0;
  right: 0px;
  display: inline-block;
  cursor: pointer;
}

.popup {
  font-size: 10pt;
  font-weight: bold;
  color: grey;
  margin-top: 8px;
  margin-left: -5px;
  position: absolute;
  top: 0;
  /*right:-10px; */
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  /*font-size: 1.3vw;*/
  visibility: hidden;
  text-align: left;
  font-weight: normal;
  color: #333;
  background-color: #eee;
  border: black 1px;
  border-style: solid;
  padding: 8px;
  width: 480px;
  /*margin-bottom: 20px;*/
  position: absolute;
  z-index: 1;
  top: -6px;
  left: -244px;
  /*margin-left: -80px;*/
}

/*  .popup .popuptext ul{ font-size: .75rem; }*/
/* Popup arrow */
.popup .popuptext::after {
  display: none;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0s;
  animation: fadeIn 0s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
